div {
  width: 100%;
  font-family: arial;
}

.attribute {
  font-weight: bold;
}
.value {
  font-weight: none;
}
.string {
  color: green;
}


.header {
  padding-top: 20px;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
}

.header.main {
  padding-top: 5px;
  font-size: 35px;
}

.marker { 
  font-size: 15px;
  text-align: center;
  vertical-align: middle;
}

.error {
  color: red;
  font-size: 15px;
  text-align: center;
  vertical-align: middle;
}

.headingBlock {
  margin-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(156, 156, 156);  
}

.requestBlock {
  padding-bottom:10px;
  padding-top: 10px;
  background-color: rgb(250, 250, 250);
}

.responseBlock {
  padding-bottom:10px;
  padding-top: 10px;
  background-color: rgb(250, 250, 250);  
}

.divider {
  background-color: rgb(230, 230, 230);
  height:1px;
  width:100%;
}

.button {
  background-color: rgb(219, 219, 219);
  border-radius: 1px;
  border: 1px;
  font-size: 15px;
  width: 15px;
  text-align: center;
  margin:auto;
}
.button:hover {  
  background-color: #E4AC01; 
} 